.game-container {
	margin-top: 40px;
	position: relative;
	padding: 15px;
	cursor: default;
	-webkit-touch-callout: none;
	-ms-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-ms-touch-action: none;
	touch-action: none;
	background: #bbada0;
	border-radius: 6px;
	width: 500px;
	height: 500px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

.main-board {
	position: absolute;
	z-index: 1; 
}

.row {
	margin-bottom: 15px; 
}

.row:last-child {
    margin-bottom: 0; 
}

.row:after {
    content: "";
    display: block;
    clear: both; 
}

.cell {
	width: 146.25px;
	height: 146.25px;
	margin-right: 15px;
	float: left;
	border-radius: 3px;
	background: rgba(238, 228, 218, 0.35); 
}

.cell:last-child {
	margin-right: 0; 
}

.innerRow {
	margin-bottom: 10px; 
}

.innerRow:last-child {
    margin-bottom: 0; 
}

.innerRow:after {
    content: "";
    display: block;
    clear: both; 
}

.innerCell{
	width: 41.75px;
	height: 41.75px;
	margin-right: 10px;
	float: left;
	border-radius: 3px;
	background: rgba(238, 228, 218, 0.35); 
}

.innerCell:last-child {
	margin-right: 0;
}

.selected {
	background: white;
}
.hovered {
	opacity: 0.5;
}

.red {
	background: red;
}

.blue {
	background: blue;
}


@-webkit-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }
@-moz-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }
@keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }
	
	